---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Common/Container.astro";
---

<Layout>
  <Container>
    <main class="min-h-screen">
      <span class="text-5xl">About</span>
    </main>
  </Container>
</Layout>
