---
import { getI18N } from "@i18n/index";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const goBack = i18n.Article.Return;
---

<button
  onclick="window.history.back()"
  class="inline-flex gap-1 group boverflow-hidden items-center p-2 rounded-md bg-indigo-700 hover:bg-indigo-600 transition-all text-white text-lg"
>
  <svg
    class="h-4 rotate-180 w-4 flex-shrink-0 transition-all duration-300 group-hover:-translate-x-1"
    height="24"
    viewBox="0 0 24 24"
    width="24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><title></title><path d="m9 18 6-6-6-6" class=""></path></svg
  >
  {goBack}
</button>
